<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<welcome-file-list>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>a</servlet-name>
		<servlet-class>com.LoginAction</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>a</servlet-name>
		<url-pattern>/loginAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>nqpServlet</servlet-name>
		<servlet-class>com.HelloWorld</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>nqpServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>reg</servlet-name>
		<servlet-class>com.Register</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>reg</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getNotes</servlet-name>
		<servlet-class>com.GetNotesAction</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>getNotes</servlet-name>
		<url-pattern>/getNotesAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>createNote</servlet-name>
		<servlet-class>com.CreateAction</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>createNote</servlet-name>
		<url-pattern>/createAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>editNote</servlet-name>
		<servlet-class>com.EditNoteAction</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>editNote</servlet-name>
		<url-pattern>/editNoteAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>deleteNote</servlet-name>
		<servlet-class>com.DeleteNoteAction</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteNote</servlet-name>
		<url-pattern>/deleteNoteAction</url-pattern>
	</servlet-mapping>
</web-app>
